/* Breakpoints */
/* ==========================================================================
   Fontsercize
   ========================================================================== */
@font-face {
  font-family: 'rondo';
  src: url("../fonts/rondo.eot?#") format("eot"), url("../fonts/rondo.svg#rondo") format("svg"), url("../fonts/rondo.woff") format("woff"), url("../fonts/rondo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
   =BASE
   ========================================================================== */
/* line 32, ../_scss/main.scss */
* {
  -webkit-box-sizing: border-box; }

/* line 36, ../_scss/main.scss */
html {
  -webkit-text-size-adjust: 100%; }

/* line 40, ../_scss/main.scss */
body {
  line-height: 1.4;
  font: 18px/26px "futura-pt", Arial;
  background: #fff;
  margin: 0;
  color: #231f20; }
  @media only screen and (min-width: 750px) {
    /* line 40, ../_scss/main.scss */
    body {
      border-top: 4px solid #222; } }

/* line 51, ../_scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #231f20;
  margin: .2em 0 .5em 0;
  padding: 0;
  clear: both; }

/* line 61, ../_scss/main.scss */
img {
  vertical-align: middle; }

/* line 65, ../_scss/main.scss */
h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

/* line 70, ../_scss/main.scss */
h1, h2, h3, h4 {
  font-family: "bebas-neue", Helvetica, Helvetica Neue, Arial;
  font-weight: normal;
  letter-spacing: 1px; }

@media only screen and (min-width: 750px) {
  /* line 76, ../_scss/main.scss */
  h2 {
    font-size: 1.875em; } }

/* line 82, ../_scss/main.scss */
img {
  max-width: 100%; }

/* line 86, ../_scss/main.scss */
a, a:visited {
  color: #0989b8;
  text-decoration: none;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms; }

/* line 92, ../_scss/main.scss */
a:hover {
  text-decoration: underline;
  color: #065977; }

/* line 97, ../_scss/main.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/* ======================================
    =LAYOUT
   ====================================== */
@media only screen and (min-width: 1140px) {
  /* line 107, ../_scss/main.scss */
  .main-container, .header-container, .footer-container {
    width: 1026px;
    margin: 0 auto; } }

/* line 113, ../_scss/main.scss */
.wrapper {
  width: 90%;
  margin: 0 auto; }
  @media only screen and (min-width: 1140px) {
    /* line 113, ../_scss/main.scss */
    .wrapper {
      width: 100%; } }

/* ======================================
    =MODULES
   ====================================== */
/* ----------------------------------------=GRID */
@media only screen and (min-width: 750px) {
  /* line 128, ../_scss/main.scss */
  .col1of2, .col2of2 {
    width: 48%; }

  /* line 132, ../_scss/main.scss */
  .col1of2 {
    float: left;
    clear: both;
    margin-right: 2%; }

  /* line 138, ../_scss/main.scss */
  .col2of2 {
    float: right; }

  /* line 142, ../_scss/main.scss */
  .col1of3, .col2of3 {
    width: 32%;
    float: left;
    margin: 0 2% 2% 0; }

  /* line 148, ../_scss/main.scss */
  .col3of3 {
    width: 32%;
    float: right;
    margin-right: 0; } }
/* ----------------------------------------=Icons */
/* line 156, ../_scss/main.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  text-decoration: none;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms; }
  /* line 168, ../_scss/main.scss */
  [data-icon]:before:hover {
    color: #444; }

/* line 173, ../_scss/main.scss */
.icon {
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
  color: #222; }
  /* line 176, ../_scss/main.scss */
  .icon:hover {
    color: #444444; }

/* line 181, ../_scss/main.scss */
.album-links a, .social a {
  color: #222;
  font-family: 'rondo', Verdana, sans-serif;
  font-size: 1.875em;
  margin: 0 0 0 .2em;
  text-decoration: none;
  text-transform: lowercase;
  padding: 0 10px;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms; }
  /* line 190, ../_scss/main.scss */
  .album-links a:hover, .social a:hover {
    color: #444; }
    /* line 192, ../_scss/main.scss */
    .album-links a:hover .icon, .social a:hover .icon {
      color: #444; }

/* line 198, ../_scss/main.scss */
.spotify-link {
  text-decoration: none;
  display: inline-block; }

/*  ----------------------------------------=HEADER */
@media only screen and (min-width: 750px) {
  /* line 205, ../_scss/main.scss */
  .header-container {
    margin: 20px auto 30px auto; } }

/* ----------------------------------------=Navigation */
/* line 213, ../_scss/main.scss */
nav {
  background: #231f20; }
  @media only screen and (min-width: 750px) {
    /* line 213, ../_scss/main.scss */
    nav {
      float: right;
      background: #fff;
      margin-top: 30px; } }

/* line 222, ../_scss/main.scss */
nav a, nav a:visited {
  font-family: 'bebas-neue', Helvetica Neue, Helvetica, Arial;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 15px 20px; }
  @media only screen and (min-width: 480px) {
    /* line 222, ../_scss/main.scss */
    nav a, nav a:visited {
      display: inline-block;
      margin-bottom: 0; } }
  @media only screen and (min-width: 750px) {
    /* line 222, ../_scss/main.scss */
    nav a, nav a:visited {
      color: #231f20; } }

/* line 240, ../_scss/main.scss */
nav ul {
  margin: 0 auto;
  padding: 0;
  text-align: center; }

/* line 246, ../_scss/main.scss */
nav li {
  display: inline-block; }

@media only screen and (min-width: 480px) {
  /* line 252, ../_scss/main.scss */
  nav li:first-child a {
    margin-left: 0; }

  /* line 256, ../_scss/main.scss */
  nav li:last-child a {
    margin-right: 0;
    padding-right: 0; } }
/*  ----------------------------------------=Logo */
/* line 265, ../_scss/main.scss */
.logo-container a {
  text-align: center; }

/* line 269, ../_scss/main.scss */
.logo {
  display: block;
  background-image: url(../img/logo/mw_logo-horizontal.png);
  width: 300px;
  height: 80px;
  background-size: 100%;
  margin: 20px auto; }
  @media only screen and (min-width: 750px) {
    /* line 269, ../_scss/main.scss */
    .logo {
      float: left;
      width: 275px;
      height: 75px; } }

/*  ----------------------------------------=Sections */
/* line 285, ../_scss/main.scss */
article {
  margin-bottom: 40px;
  clear: both; }
  /* line 288, ../_scss/main.scss */
  article:after {
    content: "";
    display: table;
    clear: both; }
  /* line 293, ../_scss/main.scss */
  article img {
    width: 100%;
    height: auto; }

/*  ----------------------------------------=Artist List */
/* line 301, ../_scss/main.scss */
.artist-list a {
  display: block;
  position: relative; }

/* line 306, ../_scss/main.scss */
.artist-list li {
  list-style: none;
  padding: 10px 0; }

/* ----------------------------------------=Artist Pages */
/* --------------------=Header Image */
/* line 315, ../_scss/main.scss */
.header-image {
  display: block;
  position: relative;
  min-height: 200px; }
  @media only screen and (min-width: 1140px) {
    /* line 315, ../_scss/main.scss */
    .header-image {
      min-height: 500px; } }

/* line 324, ../_scss/main.scss */
.caption {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #f7f7f7;
  padding: 10px 13px;
  font-size: 1.4em;
  line-height: 1; }
  @media only screen and (min-width: 750px) {
    /* line 324, ../_scss/main.scss */
    .caption {
      font-size: 2em; } }

/* --------------------=Social Links */
/* line 340, ../_scss/main.scss */
.social {
  display: block;
  margin: 15px auto 15px;
  text-align: center;
  padding: 5px 0; }

/* line 347, ../_scss/main.scss */
.icon-globe {
  font-size: 29px !important; }

/* line 350, ../_scss/main.scss */
.icon-globe:before {
  content: "\e000"; }

/* --------------------=News */
/* line 355, ../_scss/main.scss */
.home .news {
  margin: 2em 0; }

/* line 359, ../_scss/main.scss */
.post-date, .post-meta {
  font-size: .8em; }

/* line 363, ../_scss/main.scss */
.post-meta span {
  padding-right: 10px; }

/* line 368, ../_scss/main.scss */
.news article:after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 1px solid #231f20;
  margin: .4em 0 1em; }

/* --------------------=Bio */
/* line 379, ../_scss/main.scss */
.read-more, .read-less {
  padding-left: 5px;
  opacity: .7; }

/* line 383, ../_scss/main.scss */
.read-more:hover, .read-less:hover {
  opacity: 1; }

/* line 387, ../_scss/main.scss */
.read-more a, .read-less a {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #222;
  text-decoration: none; }

/* line 400, ../_scss/main.scss */
.read-more a:after, .read-less a:after {
  padding-left: 5px;
  position: relative;
  top: 2px; }

/* line 405, ../_scss/main.scss */
.read-more a:after {
  content: "\e003"; }

/* line 409, ../_scss/main.scss */
.read-less a:after {
  content: "\e004"; }

/*  ----------------------------------------=Discography */
/* line 414, ../_scss/main.scss */
.album_thumb {
  margin-bottom: 2%; }
  /* line 416, ../_scss/main.scss */
  .album_thumb:after {
    content: "";
    display: block;
    width: 75%;
    margin: 30px auto;
    border-bottom: 1px solid #d9d9d9; }
  @media only screen and (min-width: 750px) {
    /* line 424, ../_scss/main.scss */
    .album_thumb:after {
      display: none; } }

/* line 430, ../_scss/main.scss */
.album-label {
  display: block; }

/* line 434, ../_scss/main.scss */
.album-links {
  margin: 10px 0; }

/* line 437, ../_scss/main.scss */
.album-cover {
  border: 1px solid #d9d9d9;
  border-radius: 3px; }

/* line 442, ../_scss/main.scss */
.album-container {
  text-align: center; }

/* line 446, ../_scss/main.scss */
.mobile-album-info {
  text-align: center; }
  @media only screen and (min-width: 750px) {
    /* line 446, ../_scss/main.scss */
    .mobile-album-info {
      display: none; } }

/* --------------------=Contact */
/* line 454, ../_scss/main.scss */
.contacts li {
  padding-bottom: 1em; }

/* line 457, ../_scss/main.scss */
.contacts span {
  display: block; }

/* line 461, ../_scss/main.scss */
.fluid-width-video-wrapper {
  margin-bottom: 20px; }

/*  ----------------------------------------=Flexslider */
/* Browser Resets */
/* line 473, ../_scss/main.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

/* line 476, ../_scss/main.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
/* line 480, ../_scss/main.scss */
.flexslider {
  margin: 0;
  padding: 0; }

/* line 481, ../_scss/main.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 482, ../_scss/main.scss */
.flexslider .slides img {
  width: 100%;
  display: block; }

/* line 483, ../_scss/main.scss */
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
/* line 486, ../_scss/main.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 487, ../_scss/main.scss */
html[xmlns] .slides {
  display: block; }

/* line 488, ../_scss/main.scss */
* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 493, ../_scss/main.scss */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
/* line 498, ../_scss/main.scss */
.flexslider {
  margin: 0 0 30px;
  background: #fff;
  position: relative;
  zoom: 1; }

/* line 499, ../_scss/main.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

/* line 500, ../_scss/main.scss */
.loading .flex-viewport {
  max-height: 300px; }

/* line 501, ../_scss/main.scss */
.flexslider .slides {
  zoom: 1; }

/* line 503, ../_scss/main.scss */
.carousel li {
  margin-right: 5px; }

/* Direction Nav */
/* line 507, ../_scss/main.scss */
.flex-direction-nav {
  *height: 0; }

/* line 508, ../_scss/main.scss */
.flex-direction-nav a {
  width: 33px;
  height: 33px;
  margin: -20px 0 0;
  display: block;
  background: url(../img/icons/bg_direction_nav.png) no-repeat 0 0;
  background-size: 66px;
  position: absolute;
  top: 48%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease; }

/* line 523, ../_scss/main.scss */
.flex-direction-nav .flex-next {
  background-position: 100%; }

/* line 524, ../_scss/main.scss */
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 0px; }

/* line 525, ../_scss/main.scss */
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 0px; }

@media only screen and (min-width: 750px) {
  /* line 527, ../_scss/main.scss */
  .flexslider:hover .flex-next {
    opacity: 0.8;
    right: -33px; }

  /* line 528, ../_scss/main.scss */
  .flexslider:hover .flex-prev {
    opacity: 0.8;
    left: -33px; } }
/* line 530, ../_scss/main.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

/* line 531, ../_scss/main.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
/* line 534, ../_scss/main.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

/* line 535, ../_scss/main.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

/* line 536, ../_scss/main.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

/* line 537, ../_scss/main.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

/* line 538, ../_scss/main.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

/* line 540, ../_scss/main.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

/* line 541, ../_scss/main.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

/* line 542, ../_scss/main.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

/* line 543, ../_scss/main.scss */
.flex-control-thumbs img:hover {
  opacity: 1; }

/* line 544, ../_scss/main.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  /* line 547, ../_scss/main.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  /* line 548, ../_scss/main.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
/* line 551, ../_scss/main.scss */
.flexslider a {
  text-decoration: none; }

/*----------------------------------------=FOOTER */
/* line 557, ../_scss/main.scss */
.footer-container {
  padding-bottom: 40px; }
  /* line 559, ../_scss/main.scss */
  .footer-container:before {
    content: "";
    border-top: 1px solid #d9d9d9;
    width: 100%;
    margin: 0 auto;
    display: block; }

/* line 568, ../_scss/main.scss */
footer .social a {
  margin: 0 18px;
  padding: 0; }
  /* line 571, ../_scss/main.scss */
  footer .social a:first-child {
    margin-left: 0; }
  /* line 574, ../_scss/main.scss */
  footer .social a:last-child {
    margin-right: 0; }

@media only screen and (min-width: 1140px) {
  /* line 579, ../_scss/main.scss */
  footer .social {
    display: inline-block;
    width: 50%; } }

/* line 586, ../_scss/main.scss */
.mailing-list, .copyright {
  font-size: .9em;
  position: relative;
  margin: 15px 0;
  padding: 5px 0; }

/* line 593, ../_scss/main.scss */
.mailing-list {
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px; }
  @media only screen and (min-width: 1140px) {
    /* line 593, ../_scss/main.scss */
    .mailing-list {
      display: inline-block;
      width: 24%;
      padding-left: 5px;
      text-align: left;
      top: -6px; } }

/* line 606, ../_scss/main.scss */
.copyright {
  text-align: center; }
  @media only screen and (min-width: 1140px) {
    /* line 606, ../_scss/main.scss */
    .copyright {
      width: 24%;
      text-align: right;
      display: inline-block;
      top: -6px; } }

/*----------------------------------------=ALCOVE */
/* line 618, ../_scss/main.scss */
.media ul {
  list-style: disc;
  padding: 0 0 20px 20px; }

/* line 623, ../_scss/main.scss */
.photos ul {
  text-align: center; }

/* line 626, ../_scss/main.scss */
.photos li, .artwork li {
  display: inline; }

/* line 630, ../_scss/main.scss */
.photos section, .artwork section {
  margin-bottom: 40px; }

/* line 634, ../_scss/main.scss */
.artwork section, .artwork ul {
  text-align: center; }

/* line 638, ../_scss/main.scss */
.artwork li:first-child a, .photos li:first-child a {
  display: inline-block;
  padding: 10px 5px 10px 80px; }

/* line 643, ../_scss/main.scss */
.artwork li:nth-child(2) a, .photos li:nth-child(2) a {
  display: inline-block;
  padding: 10px 80px 10px 5px; }

/* line 648, ../_scss/main.scss */
.artwork img {
  border: 1px solid #d9d9d9;
  border-radius: 3px; }

/*-------------------------=PRESS */
/* line 655, ../_scss/main.scss */
#press-collage {
  margin: 0 auto;
  width: 100%; }

/* line 660, ../_scss/main.scss */
.press-item {
  width: 340px;
  float: left;
  padding: 10px; }

/* line 667, ../_scss/main.scss */
.press-source {
  background: #231f20;
  display: block;
  text-align: center;
  color: #f7f7f7;
  padding: 10px; }

/* line 675, ../_scss/main.scss */
.press-quote {
  padding: 10px;
  border: 1px solid #d9d9d9;
  display: block; }

/* line 686, ../_scss/main.scss */
#press-collage img {
  width: 100%;
  height: auto; }

/* line 692, ../_scss/main.scss */
.press-item a {
  color: #222; }

/* line 697, ../_scss/main.scss */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s; }

/* line 705, ../_scss/main.scss */
.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

/* line 713, ../_scss/main.scss */
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 727, ../_scss/main.scss */
.wf-loading {
  visibility: hidden; }

/* line 731, ../_scss/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* line 736, ../_scss/main.scss */
.clearfix:after {
  clear: both; }

/* line 740, ../_scss/main.scss */
.clearfix {
  *zoom: 1; }

/* line 744, ../_scss/main.scss */
.italic {
  font-style: italic; }

/* line 748, ../_scss/main.scss */
.hide {
  position: absolute;
  left: -9999px;
  top: -9999px; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 760, ../_scss/main.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

/* line 761, ../_scss/main.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

/* line 762, ../_scss/main.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

/* line 763, ../_scss/main.scss */
#cboxContent {
  position: relative; }

/* line 764, ../_scss/main.scss */
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* line 765, ../_scss/main.scss */
#cboxTitle {
  margin: 0; }

/* line 766, ../_scss/main.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 767, ../_scss/main.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

/* line 768, ../_scss/main.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

/* line 769, ../_scss/main.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

/* line 770, ../_scss/main.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 777, ../_scss/main.scss */
#cboxOverlay {
  background: rgba(0, 0, 0, 0.9); }

/* line 778, ../_scss/main.scss */
#colorbox {
  outline: 0; }

/* line 779, ../_scss/main.scss */
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(../img/colorbox/controls.png) no-repeat -101px 0; }

/* line 780, ../_scss/main.scss */
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(../img/colorbox/controls.png) no-repeat -130px 0; }

/* line 781, ../_scss/main.scss */
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(../img/colorbox/controls.png) no-repeat -101px -29px; }

/* line 782, ../_scss/main.scss */
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(../img/colorbox/controls.png) no-repeat -130px -29px; }

/* line 783, ../_scss/main.scss */
#cboxMiddleLeft {
  width: 21px;
  background: url(../img/colorbox/controls.png) left top repeat-y; }

/* line 784, ../_scss/main.scss */
#cboxMiddleRight {
  width: 21px;
  background: url(../img/colorbox/controls.png) right top repeat-y; }

/* line 785, ../_scss/main.scss */
#cboxTopCenter {
  height: 21px;
  background: url(../img/colorbox/border.png) 0 0 repeat-x; }

/* line 786, ../_scss/main.scss */
#cboxBottomCenter {
  height: 21px;
  background: url(../img/colorbox/border.png) 0 -29px repeat-x; }

/* line 787, ../_scss/main.scss */
#cboxContent {
  background: #fff;
  overflow: hidden; }

/* line 788, ../_scss/main.scss */
.cboxIframe {
  background: #fff; }

/* line 789, ../_scss/main.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

/* line 791, ../_scss/main.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494; }

/* line 792, ../_scss/main.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
  opacity: 0; }

/* line 793, ../_scss/main.scss */
#cboxLoadingOverlay {
  background: url(../img/colorbox/loading_background.png) no-repeat center center; }

/* line 794, ../_scss/main.scss */
#cboxLoadingGraphic {
  background: url(../img/colorbox/loading.gif) no-repeat center center; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
/* line 797, ../_scss/main.scss */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
/* line 800, ../_scss/main.scss */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

/* line 802, ../_scss/main.scss */
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

/* line 803, ../_scss/main.scss */
#cboxPrevious, #cboxNext {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 60px;
  opacity: .2;
  text-indent: -9999px;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms; }
  /* line 811, ../_scss/main.scss */
  #cboxPrevious:hover, #cboxNext:hover {
    opacity: 1 !important; }

/* line 815, ../_scss/main.scss */
#cboxPrevious {
  left: 0;
  background: url(../img/icons/carousel-l.png) no-repeat; }

/* line 818, ../_scss/main.scss */
#cboxNext {
  right: 15px;
  background: url(../img/icons/carousel-r.png) no-repeat; }

/* line 822, ../_scss/main.scss */
#cboxContent:hover #cboxPrevious, #cboxContent:hover #cboxNext {
  opacity: .4; }

/* line 825, ../_scss/main.scss */
#cboxClose {
  position: absolute;
  top: -8px;
  left: -8px;
  background: url(../img/colorbox/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 826, ../_scss/main.scss */
#cboxClose:hover {
  background-position: -25px -25px; }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 840, ../_scss/main.scss */
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); }
