<div class="footer-container">
    <footer class="wrapper">

        <div class="mailing-list">
            <!--[if lte IE 8]><label for="email">Sign up for the newsletter:</label><![endif]-->
            <div class="mailing-list-container">
                <form>

                    <input type=hidden id="oid" name="oid" value="00Di0000000af6M">
                    <input type=hidden name="retURL" value="http://www.middlewestmgmt.com">
                    <input type=hidden name="List_Name__c" value="Middle West">

                    <label class="error error--empty" for="email">This field is required</label>
                    <label class="error error--invalid" for="email">Please enter a valid email address.</label>

                    <input id="email" name="email" maxlength="80" type="email" placeholder="mailing list signup..." />
                    <input id="submit" type="submit" value="Submit" />

                </form>
            </div>
        </div>

        <div class="social">
            <a href="mailto:info@middlewestmgmt.com" class="rondo" data-icon="&#x25;" target="_blank"><span class="hide">email</span></a>
            <a class="rondo" data-icon="&#x24;" href="http://facebook.com/middlewestmgmt" target="_blank"><span class="hide">facebook</span></a>
            <a class="rondo" data-icon="&#x22;" href="https://twitter.com/middlewestmgmt" target="_blank"><span class="hide">twitter</span></a>
            <a class="rondo" data-icon="&#x23;" href="http://instagram.com/middlewestmgmt" target="_blank"><span class="hide">instagram</span></a>
        </div>

        <div class="copyright">
            &copy; 2013 Middle West
        </div>

    </footer>
</div>
<script>
    mwmTumblr = {};
    mwmTumblr.tag = "{{ page.tumblr-tag }}";
</script>
<script src="/js/plugins-ck.js"></script>
<script src="/js/main-ck.js"></script>