<div class="footer-container">
            <footer class="wrapper">

                <div class="mailing-list">Mailing List sign up</div>

                <div class="social">
                    <a href="mailto:info@middlewestmanagement.com" target="_blank">email</a>
                    <a href="http://facebook.com/middlewestmgmt" target="_blank">facebook</a>
                    <a href="https://twitter.com/middlewestmgmt" target="_blank">twitter</a>
                    <a href="http://instagram.com/middlewestmgmt" target="_blank">instagram</a>
                </div>

                <div class="copyright">
                    <p>&copy; 2013 Middle West</p>
                </div>

            </footer>
        </div>
        <script src="../js/plugins.js"></script>
        <script async src="../js/main.js"></script>
         <!--<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'/ssl':'/www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
