    <div class="footer-container">
            <footer class="wrapper">

                <div class="mailing-list">
                    <div class="mailing-list-container">
                        <input type="email" placeholder="mailing list..." />
                        <input type="submit" />
                    </div>
                </div>

                <div class="social">
                    <a href="mailto:info@middlewestmanagement.com" target="_blank">email</a>
                    <a href="http://facebook.com/middlewestmgmt" target="_blank">facebook</a>
                    <a href="https://twitter.com/middlewestmgmt" target="_blank">twitter</a>
                    <a href="http://instagram.com/middlewestmgmt" target="_blank">instagram</a>
                </div>

                <div class="copyright">
                    <p>&copy; 2013 Middle West</p>
                </div>

            </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="../../js/plugins.js"></script>
        <script async src="../../js/main-ck.js"></script>