{% include head-artist.html %}

<body>
    <!--[if lt IE 9]>
        <p class="chromeframe">You are using an outdated browser. <a href="/mwmhttp://browsehappy.com/">Upgrade your browser today</a> or <a href="/mwmhttp://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <div class="header-container">
        <header class="clearfix">
            <nav>
                <ul>
                    <!-- <li><a href="../">Home</a></li> -->
                    <li><a href="../.../about">About</a></li>
                    <li class="selected"><a href="../">Artists</a></li>
                </ul>
            </nav>
            <div class="logo-container">
                <a href="/">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Middle West Management" class="logo">
                        <!-- <h1 class="title">Middle West</h1> -->
                </a>
            </div>
        </header>
    </div>

    <div class="main-container">
            <article>
                <a href="../artists/{{ page.artist }}" class="header-image">
                    <h2 class="caption">{{ page.artist }}</h2>
                    <div data-picture data-alt="Bon Iver">
                        <div data-src="{{ page.header-image-s }}"></div>
                        <div data-src="{{ page.header-image-m }}"     data-media="(min-width: 480px)"></div>
                        <div data-src="{{ page.header-image-l }} "     data-media="(min-width: 660px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"></div>
                    </div>
                    <noscript>
                        <img src="{{ page.header-image-s }}" alt="{{ page.artist }}">
                    </noscript>
                </a>

                <span class="social">
                    <a data-icon="&#xe000;" aria-hidden="true" href="{{ page.website }}" target="_blank"></a>
                    <a href="{{ page.facebook }}"  target="_blank">facebook</a>
                    <a href="{{ page.twitter }}"  target="_blank">twitter</a>
                    <a href="{{ page.instagram }}"  target="_blank">instagram</a>
                </span>

            </article>

            <div class="main wrapper clearfix">

                <div class="news col1of2">
                    <h2>News</h2>
                    <hr>
                </div>

                <div class="col2of2">
                    <article>
                        <h2>Happenings</h2>
                        <hr>
                        <div class="">
                            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                            <script>
                                new TWTR.Widget({version: 2, type: 'profile', rpp: 10, interval: 6000, width: 'auto', height: 400, theme: {shell: {background: 'transparent', color: '#141414'}, tweets: {background: 'transparent', color: '#000000', links: '#2495c0'} }, features: {scrollbar: false, loop: true, live: true, hashtags: true, timestamp: true, avatars: false, behavior: 'default'} }).render().setUser('{{ page.twitter-widget }}').start();
                            </script>   
                        </div>
                        
                    </article>
                </div>

                <div class="col1of2">
                    <article>
                        <h2>Shows</h2>
                        <hr>
                        <div class="scroll">
                            <div id="shows" class="shows">
                                {{ page.bandsintown-widget }}
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col2of2">
                    <h2>Videos</h2>
                    <hr>
                        {% for video in page.videos %}
                            <div class="col{% cycle 'videos': '1', '2' %}of2">
                            {{ video.embed-code }}
                        </div>
                        {% endfor %}
                </div>

                <article>
                    <h2>Bio</h2>
                    <hr>
                    <div class="expandable">
                        {% for section in page.bio %}
                            {{ section.paragraph }}
                        {% endfor %}
                    </div>
                </article>

                <article class="discography">
                        <h2>Discography</h2>
                        <hr>

                        {% for album in page.albums %}
                        <div class="album_thumb col{% cycle '1', '2', '3' %}of3">
                            <div id="card-container">
                                <a class="group colorbox" href="discography/{{ album.hash }}.html">
                                    <img class="album-cover lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="{{ album.thumb-image }}" alt="{{ album.name }} cover" height="300" width="300" />
                                </a>
                            </div>

                            <div class="mobile-album-info">
                                <h3>{{ album.name }} ({{ album.year }})</h3>
                                <span class="album-label">{{ album.label }}</span>

                                <div class="album-links">
                                    <a class="spotify-link icon" href="{{ album.spotify-link }}" target="_blank">
                                    <span class="icon" aria-hidden="true" data-icon="&#xe001;"></span>
                                    <span class="hide">spotify</span>
                                    </a>
                                    <a class="itunes-link icon" href="{{ album.itunes-link }}" target="_blank">apple</a>
                                </div>

                            </div>
                        </div>
                        {% endfor %}

                        {% for album in page.albums %}
                        <!-- This is where the details for each album goes. -->
                        <div class="discography--hidden" style="display:none">

                            <!-- {{ album.name }} -->
                            <div class="album-container" id="{{ album.hash }}">
                                <img class="album-cover" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="{{ album.full-image }}" alt="{{ album.name }} cover" height="600" width="600" />
                                <h3>{{ album.name}} ({{ album.year }})</h3>
                                <span class="album-label">{{ album.label }}</span>
                                <div class="album-links">
                                    <a class="spotify-link" href="{{ album.spotify-link }}" target="_blank">
                                    <span class="icon" aria-hidden="true" data-icon="&#xe001;"></span>
                                    <span class="hide">spotify</span>
                                    </a>
                                    <a class="itunes-link" href="{{ album.itunes-link }}" target="_blank">apple</a>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                </article>

                

                

                <article>
                    <h2>Contact</h2>
                    <hr>
                    {% for contact in page.contact %}
                    <div class="col{% cycle 'contact': '1', '2' %}of2">
                            <h3>{{ contact.type }}</h3>
                            <ul class="contacts">
                                {% if contact.regions %}
                                    {% for region in contact.regions %}
                                    <li>
                                        <span>{{ region.region }} / {{ region.company }}: {{ region.name }}</span>
                                        <span><a href="mailto: {{ region.email }}">{{ region.email }}</a></span>
                                    </li>                                      
                                    {% endfor %}

                                    {% else %}
                                    <li>
                                        <span>{% if contact.comspanany %}{{ contact.company }}: {% endif %}{{ contact.name }}</span>
                                        <span><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></span>
                                    </li>
                                {% endif %}
                            </ul>
                    </div>

                    {% endfor %}
                </article>

            </div> <!-- .main -->
        </div> <!-- .main-container -->
{% include footer-artist.html %}

<script>
    $(function() {
        $.ajax({
            type: 'GET',
            dataType: 'jsonp',
            url: 'http://api.tumblr.com/v2/blog/theaironearth.tumblr.com/posts?api_key=0HGXyTUckXBQO6GJogg5kukScgMqnAVsqkBYlHqmIbPHRK5y7b&tag={{ page.tumblr-tag }}',
            data: { get_param: 'value'},
            success: function(data) {
                for (i = 0; i <= 19; i++) {
                    var full_date = data.response.posts[i].date;
                    var month = parseInt(full_date.substr(5,6), 10);
                    var day = parseInt(full_date.substr(8,9), 10);
                    var year = parseInt(full_date.substr(0,4), 10);
                    $('.news').append(""+
                            "<article>"+
                                "<h3 class='post-title'>"+
                                    data.response.posts[i].title +
                                "</h3>" +
                                
                                "<div class='post-date'>" +
                                    month + '/' + day + '/' + year +
                                "</div>"+
                                "<div>" + 
                                    data.response.posts[i].body + 
                                "</div>" +
                                "<div class='post-meta'>tags: "+
                                    "<span>" + data.response.posts[i].tags + "</span>" + 
                                    "<span><a href=" + data.response.posts[i].post_url + " target='_blank'>permalink</a></span>" + 
                                "</div>" +
                            "</article>"
                        );
                }
            }
        });
    });
</script>

{% include foot.html %}