{% include head-artist.html %}
    <body class="{{ page.bodyClass }}">
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an outdated browser. <a href="http:/browsehappy.com/">Upgrade your browser today</a> or <a href="http:/www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="header-container">
            <header class="clearfix">

                <div class="logo-container">
                    <a href="/">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Middle West Management" class="logo">
                            <!-- <h1 class="title">Middle West</h1> -->
                    </a>
                </div>

                <nav>
                    <ul>
                        <!-- <li class="selected"><a href="index">Home</a></li> -->
                        <li><a href="/about">About</a></li>
                        <li><a href="/artists">Artists</a></li>
                        <li><a href="/shows">Shows</a></li>
                    </ul>
                </nav>

            </header>
        </div>

        <div class="main-container">
            <div class="main home-wrapper clearfix">

            {{ content }}

            </div> <!-- #main -->
        </div> <!-- #main-container -->

{% include footer-artist.html %}