{% include head.html %}
    <body class="home">
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an outdated browser. <a href="http:/browsehappy.com/">Upgrade your browser today</a> or <a href="http:/www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="header-container">
            <header class="clearfix">
                <nav>
                    <ul>
                        <!-- <li class="selected"><a href="index">Home</a></li> -->
                        <li><a href="about">About</a></li>
                        <li><a href="artists">Artists</a></li>
                    </ul>
                </nav>
                <div class="logo-container">
                    <a href="/">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Middle West Management" class="logo">
                            <!-- <h1 class="title">Middle West</h1> -->
                    </a>
                </div>
            </header>
        </div>

        <div class="main-container">

            {{ content }}

        </div> <!-- #main-container -->

{% include footer.html %}


<script>
    $(function() {
        $.ajax({
            type: 'GET',
            dataType: 'jsonp',
            url: 'http://api.tumblr.com/v2/blog/theaironearth.tumblr.com/posts?api_key=0HGXyTUckXBQO6GJogg5kukScgMqnAVsqkBYlHqmIbPHRK5y7b',
            data: { get_param: 'value'},
            success: function(data) {
                for (i = 0; i <= 19; i++) {
                    var full_date = data.response.posts[i].date;
                    var month = parseInt(full_date.substr(5,6), 10);
                    var day = parseInt(full_date.substr(8,9), 10);
                    var year = parseInt(full_date.substr(0,4), 10);
                    $('.news').append(""+
                            "<article>"+
                                "<h3 class='post-title'>"+
                                    data.response.posts[i].title +
                                "</h3>" +
                                
                                "<div class='post-date'>" +
                                    month + '/' + day + '/' + year +
                                "</div>"+
                                "<div>" + 
                                    data.response.posts[i].body + 
                                "</div>" +
                                "<div class='post-meta'>tags: "+
                                    "<span><a target='_blank' href='http://tumblr.com/tagged/" + data.response.posts[i].tags + "''>" + data.response.posts[i].tags + "</span>" + 
                                    "<span><a href=" + data.response.posts[i].post_url + " target='_blank'>permalink</a></span>" + 
                                "</div>" +
                            "</article>"
                        );
                }
            }
        });
    });
</script>

{% include foot.html %}